#search-bar-div {
  width: 90%;
  margin: auto;
  margin-bottom: 100px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;

  background: #eecda3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ef629f,
    #eecda3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ef629f,
    #eecda3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
}

#search-bar-div form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
  }

  .fa {
    font-family: "Font Awesome 5 Free" !important;
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
  }
}

#search-bar-div form:hover {
  width: 300px;
  cursor: pointer;
  input {
    display: block;
  }
  .fa {
    background: #07051a;
    color: white;
  }
}

// photo grid

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 80px 20px;

  .heading {
    width: 50%;
    padding-bottom: 50px;

    h3 {
      font-size: 3em;
      font-weight: bolder;
      padding-bottom: 10px;
      border-bottom: 3px solid #222;

      span {
        font-weight: 100;
      }
    }
  }

  .custom-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .dream {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto;
      img {
        margin: auto;
        width: 350px;
        height: 400px;
        object-fit: cover;
        padding: 5px;
        border-radius: 5px;
      }
    }
  }

  .btn {
    margin: 40px 0 70px 0;
    background: #222;
    padding: 15px 40px;
    border-radius: 5px;
    a {
      color: #fff;
      font-size: 1.2em;
      text-decoration: none;
      font-weight: bolder;
      letter-spacing: 3px;
    }
  }
}

button {
  padding: 8px 25px !important;
  background: transparent !important;
  outline: none !important;
  border: 2px solid black;
  border-radius: 20px !important;
  color: black;
  font-size: 12px !important;
  font-weight: bold !important;
  cursor: pointer;
}

.image {
  position: relative;
}

.image_img {
  display: block;
}

.image_overlay {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.image_overlay:hover {
  opacity: 1;
}

.image_title,
.image_description {
  cursor: default;
}

@media only screen and (max-width: 769px) {
  .container .custom-box {
    flex-direction: column;
    .dream {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 643px) {
  .container .heading {
    width: 100%;
    h3 {
      font-size: 1em;
    }
  }
}
