h1 {
  display: block !important;
  font-size: 2em !important;
  font-weight: bold !important;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px 20px 80px 0px;

  .heading {
    width: 50%;
    padding-bottom: 50px;

    h3 {
      font-size: 3em;
      font-weight: bolder;
      padding-bottom: 10px;
      border-bottom: 3px solid #222;

      span {
        font-weight: 100;
      }
    }
  }
}

h5 {
  margin-bottom: 0% !important;
}

// logs table

#myTable {
  max-width: 100%;
}
